<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-4.0.0-beta.min.js"></script>
    <script src="../static/script.js" defer></script>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Emmy Sumpter">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body onload="addYear()">
    <div class = "container">
        <header class="header">
            <div class="header-content">
                <div class="header-brand">
                    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
                    <h1>MonoMuse</h1>
                </div>
                <a class="cta" href="buytickets.html">Buy Tickets!</a>
            </div>
        </header>

        <nav class = "nav_bar navBox">
            <button id="hamburger">☰</button>
            <a href="../index.html">Home</a> 
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Tickets</a>
        </nav>

        <main class="main">
            <h1>Explore</h1>
            <div class = "container2">
                <img src="../static/imagemono.png" alt="MonoMuse Victorian Building" width = "500">
                <div class="content-box">
                    <h3>Our Mission</h3>
                    <p>To preserve and exhibit the marvelous fruits of human ingenuity, fostering a sanctuary where the fine arts and the latest mechanical wonders converge to enlighten the curious soul.</p>
                    <div style="display: flex; align-items: flex-start; gap: 20px;">
                        <div>
                            <h3>Who?</h3>
                            <p>This museum is for all ages! We have exhibits that appeal to everyone! To the right is a guide on how effectively visit the museum with kids.</p>
                        </div>
                            <iframe src="https://www.youtube.com/embed/zxvSBnDWin8?si=AyVT_QPjTeUptC2W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <h3>Milestones</h3>
            <div style="display: flex; align-items: flex-start; gap: 20px;">
                <div>
                    
                        <ul>
                            <li>1893: Monosure Goods is founded by Ms. Marie Aspen Monosure orginally as a way to sell her orginal art works and clothing. As a 17-year-old, she operates this store out of her parents' Southern Virginian home</li>
                            <li>1904: Ms. Monosure creates enough revenue to begin building today's Monomuse</li>
                            <li>1910: Monosure Goods is officially done being constructed and is open to the public</li>
                            <li>1920: Monosure Goods transitions to display Ms. Monosure's work rather than selling it, alongside local artists</li>
                            <li>1921: Monosure Goods is renamed to be Monomuse</li>
                            <li>1928: Monomuse has its own feature in the Cosmopolitan Magazine as 'The southern place to be for everything art'</li>
                            <li>1929: Artists from all over the country begin to visit and display thier art in Monomuse</li>
                            <li>1956: Marie Aspen Monosure passes away and her 3 sons honor her legacy and continue to operate Monomuse to this day</li>
                            <li>2001: Monomuse wins the 'Best Historical Preservation' award for art museums</li>
                            <li>2010: Monomuse goes digital by deploying the very website you are on now!</li>
                            <li>2026: Redesign Loading. . .</li>
                        </ul>
                </div>
                <div id="map" style="height: 400px; width: 400px; flex-shrink: 0;"></div>
            </div>
        </main>
        <footer class = "footer">
            <p id="copyYear">MonoMuse. All Rights Reserved.</p>
        </footer>
    </div>
</body>
</html>