<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Emmy Sumpter">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <div class = "container">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
            <h1>MonoMuse</h1>
        </div>
        <div>
            <nav>
                <a href="../index.html">Home</a> 
                <a id="navselected" href="explore.html">Explore</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="tickets.html">Tickets</a>
                <a href="checkout.html">Checkout</a>
            </nav>
        </div>

        <h1>Explore</h1>

        <div class = "container2">
            <img src="../static/imagemono.png" alt="MonoMuse Victorian Building" width = "500">
            <div class="content-box">
                <h3>Our Mission</h3>
                <p>To preserve and exhibit the marvelous fruits of human ingenuity, fostering a sanctuary where the fine arts and the latest mechanical wonders converge to enlighten the curious soul.</p>
                <h3>Who?</h3>
                <p>This museum is for all ages! We have exhibits that appeal to everyone!</p>
            </div>
        </div>
        <div class="main">
            <h3>Milestones</h3>
            <p>
                <ul>
                    <li>1893: Monosure Goods is founded by Ms. Marie Aspen Monosure orginally as a way to sell her orginal art works and clothing. As a 17-year-old, she operates this store out of her parents' Southern Virginian home</li>
                    <li>1904: Ms. Monosure creates enough revenue to begin building today's Monomuse</li>
                    <li>1910: Monosure Goods is officially done being constructed and is open to the public</li>
                    <li>1920: Monosure Goods transitions to display Ms. Monosure's work rather than selling it, alongside local artists</li>
                    <li>1921: Monosure Goods is renamed to be Monomuse</li>
                    <li>1928: Monomuse has its own feature in the Cosmopolitan Magazine as 'The southern place to be for everything art'</li>
                    <li>1929: Artists from all over the country begin to visit and display thier art in Monomuse</li>
                    <li>1956: Marie Aspen Monosure passes away and her 3 sons honor her legacy and continue to operate Monomuse to this day</li>
                    <li>2001: Monomuse wins the 'Best Historical Preservation' award for art museums</li>
                    <li>2010: Monomuse goes digital by deploying the very website you are on now!</li>
                    <li>2026: Redesign Loading. . .</li>
                </ul>
            </p>
            <div>
                <footer>
                    <p>2026 MonoMuse. All Rights Reserved.</p>
                </footer>
            </div>
        </div>
    </header>
</body>
</html>